$blue: #3c8dc7;
$purple: #895d94;
$orange: #e06e0e;
$yellow: #fbb829;
$green: #a3b34b;
$primary: #1c2346;
$secondary: #e06e0e;
$success: #11af22;
$info: #3c8dc7;
$warning: #fbb829;
$input-border-color: #a4a6b4;
$danger: #e62c33;
$dark: #000000;
$gray: #76797a;
$white: white;

$enable-cssgrid: true;
